{% extends 'base.html.twig' %}

{% block title %}Profile utilisateur{% endblock %}
{% block body %}
<div class="container text-primary">
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="alert alert-dismissible alert-primary">
                <h2 class="d-flex justify-content-between"><i class="far fa-address-card"></i> Informations du Profil
                    <a href="{{ path('account_update_password') }}" class="btn btn-danger">Modifier le mot de passe</a>
                </h2>
                <hr>

                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.email) }}
                        {{ form_row(form.picture) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.introduction) }}
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <button class="btn btn-warning"> Enregistrer les informations</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
