{% extends 'base.html.twig' %}

{% block title %}Profile utilisateur{% endblock %}
{% block body %}
    <div class="container text-primary">
    {{ form_start(form) }}
    <div class="row">
    <div class="col">
        <div class="alert alert-dismissible alert-primary">
            <h2 class="text-center"><i class="far fa-address-card"></i> Informations du Profil</h2>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.picture) }}
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}
                </div>
                <div class="col-md-5">
                    <div class="avatarmedium">
                        <img src="{{ app.user.picture }}">
                        </div>
                            <div class="mt-2 mb-2">
                                <a href="{{ path('account_update_password') }}" class="btn btn-info">Modifier mon mot de passe</a>
                            </div>
                            <button class="btn btn-warning"> Modifier les informations
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
