{% extends 'admin/base.html.twig' %}

{% block title %}Reservation index de l'administrateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="alert text-center alert-dark" role="alert"><h1>Gestion des reservations</h1></div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">client</th>
                <th scope="col">Date de reservation</th>
                <th scope="col">Fait le </th>
                <th scope="col">Montant du sejour</th>
                <th scope="col">Annonce</th>
                <th scope="col">Hébergeur</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td><img class="avatar-medium" src="{{ reservation.client.picture }}" alt="photo de l'auteur">
                        {{ reservation.client.fullName }}
                    </td>
                    <td>{{ reservation.startDate | date('d/m/y')}} au {{ reservation.endDate | date('d/m/y')}}</td>
                    <td>{{ reservation.createdAt | date('d/m/Y à H:i') }}</td>
                    <td>{{ reservation.amount }} €</td>
                    <td>{{ reservation.annonce.title }}</td>
                    <td>
                        <img class="avatar-medium" src="{{ reservation.annonce.author.picture }}"
                             alt="photo de l'auteur"> {{ reservation.annonce.author.fullName }}
                    </td>
                    <td>
                        <a href="{{ path('admin_reservation_edit',{'id':reservation.id}) }}" class="btn btn-info">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{{ path('admin_reservation_delete',{'id':reservation.id}) }}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(reservations) }}
    </div>
{% endblock %}
