{% extends 'base.html.twig' %}

{% block title %}Home KHAM B&B{% endblock %}
{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade mt-" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://via.placeholder.com/600x200.png/008000/" class="img-fluid d-block w-100"
                     alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des locations, des appartements,des chambres</h5>
                    <p>Nous mettons en relation, des personnes et des propriétaires,qui veulent profiter d'opportunités
                        et gagner de l'argent en proposant leur bien en location</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/600x200.png/09f/FFFC/" class="img-fluid d-block w-100"
                     alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Dans toute la france entre particuliers ou professionnels</h5>
                    <p>Vous êtes en voyage,déplacement? Vous voulez voir où vous pourriez vous loger prochainement?</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/600x200.png/09f/FF0000/" class="img-fluid d-block w-100"
                     alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Pendant toute l'année</h5>
                    <p>Profitez de nos tarifs les plus attractifs</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1><center>Annonces à la une</center></h1>
    <div class="row">
        {% for annonce in annonces %}
            <div class="col-md-4">
                <div class="card border-info m-5" style="max-width: 25rem;">
                    <div class="card-header">Nombre de chambre : {{ annonce.rooms }}<br> <strong>{{ annonce.price }} € /
                            nuit </strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <div class="card-body text-info">
                        <img src="{{ vich_uploader_asset(annonce,'photoCoverFile') }}" alt="Image couverture de l'appartement"
                             style="display: block; width: 100%; height:30vh;">
                        <h5 class="card-title">{{ annonce.introduction }}</h5>
                        <a href="{{ path('annonce_show',{'slug':annonce.slug}) }}" class="btn btn-info">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
