<div class="col-md-4">
    <div class="card border-warning m-3">
        <div class="card-header">
            <h4>Nombre de chambre: {{ annonce.rooms }}
                <div>
                    <strong>{{ annonce.price }} € / nuit</strong><br>
                </div>
            {% if annonce.comments | length > 0 %}
                {% include'partial/rating.html.twig' with {'rating':annonce.avgRatings } %}
            {% else %}
                <small>Pas encore noté</small></h4>
            {% endif %}
        </div>
        <div class="card-body">
            <a href="{{ url }}"><img src="{{ annonce.photocover }}" alt="Image couverture de l'appartement"
                                     style="display: block; width: 100%; height: 20vh;"></a>
            <h5 class="card-title mt-3 "><strong>{{ annonce.title }}</strong></h5>
            <p class="card-text">{{ annonce.introduction }}</p>
            <a href="{{ url }}" class="btn btn-light border">Voir l'annonce</a>
            {%  if app.user and app.user is same as (annonce.author) %}
                <a href="{{ path('annonce_edit',{'slug':annonce.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>
