{% block _annonce_images_widget %}
        {{ form_widget(form) }}
            <input type="hidden" id="widgets-counter" value="">
    <button type="button" id="annonce_images" class="btn btn-secondary">
        <i class="far fa-plus-square"> Ajouter d'autres photos de l'annonce</i></button>
{% endblock %}

{% block _annonce_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _annonce_images_entry_widget %}
    <div class="form-group alert alert-dismissible alert-primary">
        <div class="form-group" id="block_{{ id }}">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col">
                        {{ form_widget(form.photo) }}
                            {{ form_errors(form.photo) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.caption) }}
                            {{ form_errors(form.caption) }}
                        </div>
                    </div>
                </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger"
                                data-action="delete" data-target="#block_{{ id }}">x
                        </button>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#annonce_images').click(function(){
            const index = +$('#widgets-counter').val();

            const tmpl = $('#annonce_images').data('prototype').replace(/___name__/g, index);

            $('#annonce_images').append(tmpl);
            $('#widgets-counter').val(index + 1);

            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove()
            });
        }
        function updateCounter(){
            const count = +$('#annonce_images div.form-group').length;

            $('#widgets-counter').val(count);
        }

        updateCounter();
        handleDeleteButtons();
    </script>
{% endblock %}
