{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }}{% endblock %}

{% block body %}
    {% set author = annonce.author %} {# variable#}
    <div class="ad-style" style="background-image: url('public/images/default/default-annonce.jpg');">
{#        url('{{ vich_uploader_asset(annonce,'photoCoverFile') }}');#}
        <h1>{{ annonce.title }}</h1>
        <div class="text-bold">
            <h2>
                <strong>Nombre de chambre : {{ annonce.rooms }}</strong> pour <strong>{{ annonce.price }}€
                </strong> par nuit
            </h2>
            <a href="{{ path('reservation_create',{'slug':annonce.slug}) }}" class="btn btn-primary">Réserver</a>
            {%  if app.user and app.user is same as (annonce.author) %}
            <a href="{{ path('annonce_edit',{'slug':annonce.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
                <a href="{{ path('annonce_delete',{'slug':annonce.slug}) }}" class="btn btn-danger"
                onclick="return (`Etes-vous sûr de vouloir supprimer l'annonce {{ annonce.title }} ?`)">Supprimer l'annonce ?</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <p>{{ annonce.introduction }}</p>
            <hr>

        <div class="row">
            <div class="col-md-8 mb-3">
                {{ annonce.content | raw }}
                    </div>

            <div class="col border border-success bg-info">
                <div class="row mb-3 align-items">

                    <div class="col-5 mt-3 ">
                        <a href="{{ path('user_show',{ 'slug':author.slug }) }}">
                            <img src="{{ author.picture }}" alt="Avatar de {{ author.fullname }}">
                                </a>
                                    </div>

                    <div class="col-5 mt-3">
                        <a href="{{ path('user_show',{ 'slug':author.slug }) }}">
                            <h2>{{ author.fullname }}</h2>
                                <h3><span class="badge badge-primary">{{ annonce.author.annonces| length }} annonces
                                    </span></h3>
                                        </a>
                                            </div>

                    <div class="col mt-3">
                        <p>{{ author.introduction }}</p>
                            <p>{{ author.description }}</p>
                                </div>

                </div>
            </div>
        </div>

        <div class="row mt-4 mx-md">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in annonce.images %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"
                                {% if loop.first %} class="active" {% endif %}>
                        </li>
                    {% endfor %}
                </ol>
                    <div class="carousel-inner">
                        {% for image in annonce.images %}
                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                <img src="{{ image.photo }}" class="d-block w-100" alt="image de l'annonce">
                                     <div class="carousel-caption d-none d-md-block">
                                         <h2>{{  image.caption }}</h2>
                                            </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators"
                               role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only"> < </span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators"
                               role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only"> > </span>
                            </a>
                        {% endfor %}
            </div>

                <div class="alert alert-info mt-4">
                    <h3 class="alert-heading">
                        {% if annonce.avgRatings > 0 %}
                        Note moyenne : {% include'partial/rating.html.twig' with {'rating':annonce.avgRatings } %}
                        {% else %}
                        Aucune note n'a encore été attribuée a cette annonce
                        {% endif %}
                    </h3>
                </div>

                <h2>Commentaires de nos voyageurs</h2>
                <hr>
                {% if annonce.content | length > 0 %}
                    {% for comment in annonce.comments %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <h4>Commentaire de : <strong><a href="{{ path('user_show',{ 'slug':author.slug }) }}">{{ comment.author.firstname }}</a></strong></h4>
                            <blockquote>{{ comment.content }}</blockquote>
                                <h4><strong>Note reçu : </strong>
                                    {% include'partial/rating.html.twig' with {'rating':comment.rating } %}
                                        </h4>
                    </li>
                </ul>
                    {% else %}
                        <h3>Cette annonce n'a pas encore eu de commentaire ni de note</h3>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
{% endblock %}
