{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="alert text-center alert-dark" role="alert"><h1>Gestion des commentaires</h1></div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Auteur</th>
            <th scope="col">Annonce</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Date</th>
            <th scope="col">Note</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
            <td>{{ comment.id }}</td>
            <td><img class="avatar-medium" src="{{ comment.author.picture }}" alt="photo de l'auteur">{{ comment.author.fullName }}</td>
            <td>{{ comment.annonce.title }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.createdAt | date('d/m/Y à H:i') }}</td>
            <td>{{ comment.rating | length }}</td>
            <td>
                <a href="{{ path('admin_comment_edit',{'id':comment.id}) }}" class="btn btn-info">
                    <i class="fas fa-pen"></i>
                </a>
                <a href="{{ path('admin_comment_delete',{'id':comment.id}) }}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
