{% block navbar %}
    <nav class="navbar sticky-top navbar-light bg-light">
        <ul class="nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="{{ path('annonce_index') }}">Annonce</a>
            {% if app.user %}
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar">
                    {{ app.user.fullName }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                    <a href="{{ path('annonce_new') }}" class="dropdown-item">Déposer une annonce</a>
                    <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                </div>
            {% else %}
                <a class="nav-item nav-link" href="{{ path('account_registrer') }}">Connexion</a>
            </li>
            {% endif %}
        </ul>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-success-{{ label }}">
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </nav>

{% endblock %}
